body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.search-input{
    height: 40px;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 20px;
}

.search-button{
    height: 40px;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 20px;
    margin-left: 20px;
    background-color: #4CAF50;
    color: black;
    cursor: pointer;
}

.searc-button-reset{
    height: 40px;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 20px;
    margin-left: 20px;
    background-color: grey;
    color: black;
    cursor: pointer;
}